:root>* {
    /* Primary brand color and variants */
    --md-primary-fg-color: #051d49;
    --md-primary-fg-color--light: #ac325a;
    --md-primary-fg-color--dark: #5c112a;

    --md-default-bg-color: #0e0f11;
    /* Accent details */
    --md-accent-fg-color: #6212bd;
}